.diagram__wrapper {
    margin: 15px;
}

.diagram__wrapper--opacity {
    margin: 15px;
    opacity: 0.3;
}

.diagram__natification {
    color: red;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    opacity: 1;
}

.diagram__navigate_button {
    min-width: 275px; 
    margin-bottom: 30px;
}

.diagram__natification--opacity {
    opacity: 0;
}