.cards__wrapper {
    width: 100%; 
    height: 100vh; 
    margin: 15px;
}

.cards__select__wrapper {
    margin-bottom: 15px;
}

.cards__select__connecting {
    width: 129px
}

.cards__select__deportament{
    width: 152px;
}

.cards__error__info {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: red
}
.cards__error__info--hide {
    opacity: 0;
}
.cards__navigate_button {
    min-width: 290px; 
    margin-bottom: 30px;
}