.cards__wrapper {
    width: 100% -15px; 
    height: 100vh - 15px; 
    margin: 15px;
}

.cards__select__wrapper {
    margin-bottom: 15px;
}

.cards__select__connecting {
    width: 130px
}

.cards__select__deportament{
    width: 145px;
}

.cards__error__info {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: red
}
.cards__error__info--hide {
    opacity: 0;
}
.cards__navigate_button {
    min-width: 284px; 
    margin-bottom: 30px;
}
.cards__reset__input__button {
    min-width: 284px; 
}